@import "tailwindcss";

@theme {
  --font-sans: var(--font-bebas-neue), var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.title-gradient {
  background: #14F195;
  background: linear-gradient(225deg, rgba(20, 241, 149, 1) 0%, rgba(153, 69, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}